.DS_Store
node_modules/
dist/
logs/
*.log
tmp/
temp/
.env
/apache-tomcat-10.0.27/
/动态网站开发源代码/frontend/node_modules/
/动态网站开发源代码/frontend/dist/
/动态网站开发源代码/backend/target/
/动态网站开发源代码/backend/.mvn/
/动态网站开发源代码/backend/mvnw*